#preview{
	width: 100%;
	position: relative;
}

#preview img{
	width: 100%;
}

#thumbnail, #overlay_frame{

	width: 100%;
	position: absolute;
	top:0px;
	left: 0px;
}

.hidden, #hidden_thumbnail{
	display: none;
}

h1{
	padding-top:20px;
}

#out img{
	border:#333 1px solid;
}